<div class="popup-cart-ajax">
 {{  cart.items.first.title  }}
      Add 1 item
     
 {{  cart.items.last.title }}

<button data-ajax-cart-toggle-class-button="item-to-cart | remove">
  <i class="fa fa-times"></i>
</button>
</div>

<style>
  .popup-cart-ajax{
   position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background: var(--primary-gradient);
    height: 250px;
   
    display: flex;
    justify-content: center;
    z-index: 500;
    border-radius: var(--radius);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    transform:translateY(-225%);
    transition: transform .3s ease-in-out;
  }
  @media screen and (min-width: 767px){
    body.item-to-cart .popup-cart-ajax{
      visibility:visible;
      pointer-events:all;
      transform:translateY(0);
    }
  }

</style>