<div  class="popup-cart-ajax">

 <div data-ajax-cart-bind-state="cart.item_count" > 
  <!-- Cart item count appears here --> 
 </div>

    <div class="title-section">    
       <h1 class="title-product text-white"></h1>
    </div>
    <div class="container-image">
      <img src="" alt="product in cart" />
    </div>


<button data-ajax-cart-toggle-class-button="show-popup-cart | remove">
  <i class="fa fa-times"></i>
</button>


  
</div>
<script type="module">
 import { subscribeToCartAjaxRequests } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
   function add_poppu_info(product, image){
    let popup = document.querySelector(".popup-cart-ajax");
      if(product != "Fail"){
        popup.querySelector(".title-product").textContent = product.title;
        popup.querySelector(".container-image img").src = product.image
      }else{
        
       /* Fail */
      }
      
    }


      subscribeToCartAjaxRequests(( requestState, subscribeToResult ) => {
      
      
        if ( requestState.requestType === 'add' ) {
          
        
          subscribeToResult( requestState => {
      
           
            if ( requestState.responseData?.ok ) {
      
           
              let product = requestState.responseData.body;
              if ( requestState.responseData.body.items?.length === 1 ) {
                product = requestState.responseData.body.items[0];
              }

              add_poppu_info( product ? product : "Fail");
            }
          });
        }
      })
        
</script>

<style>
  .popup-cart-ajax{
   position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background: var(--primary-gradient);
    height: 250px; 
    display: flex;
    justify-content: center;
    z-index: 500;
    border-radius: var(--radius);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    transform:translateY(-225%);
    transition: all .3s ease-in-out;
  }
 
    body.show-popup-cart .popup-cart-ajax{
      transform:translateY(0);
    }

  .popup-cart-ajax .container-image {
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }
   .popup-cart-ajax .container-image img{
     width:100%;
     height:100%;
   }

</style>