<div class="popup-cart-ajax">
  {% for product in cart.items limit: 1 %}
      Add 1 item
      {{ product.title }}
  {% endfor %}

<button data-ajax-cart-toggle-class-button="item-to-cart | remove">
  <i class="fa fa-times"></i>
</button>
</div>

<style>
  .popup-cart-ajax{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background: var(--primary-gradient);
    height: 250px;
    visibility: hidden;
    pointer-events:none;
    display:flex;
    justify-content:center;
    z-index:100;
  }
  body.item-to-cart .popup-cart-ajax{
    visibility:visible;
    pointer-events:all;
  }

</style>