<div  class="popup-cart-ajax">

 <div data-ajax-cart-bind-state="cart.item_count" > 
  <!-- Cart item count appears here --> 
 </div>

    <div class="title-section">    
       <h1 class="title-product text-white"></h1>
    </div>


<button data-ajax-cart-toggle-class-button="item-to-cart | remove">
  <i class="fa fa-times"></i>
</button>


  
</div>
<script type="module">
 import { subscribeToCartAjaxRequests } from '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
   function add_poppu_info(title, image){
    let popup = document.querySelector(".popup-cart-ajax");
      popup.querySelector(".title-product").textContent = title;
      
    }
  window.onload = function(){
 
     console.log("onload")
      subscribeToCartAjaxRequests(( requestState, subscribeToResult ) => {
      
        
        if ( requestState.requestType === 'add' ) {
          subscribeToResult( requestState => {
            if ( requestState.responseData?.ok ) {
              let productName = requestState.responseData.body.title;
              if ( requestState.responseData.body.items?.length === 1 ) {
                productName = requestState.responseData.body.items[0].title; 
              }else{
                console.log("ERRO")
              }
               add_poppu_info(productName, null);
            }else{
              console.log("error 3")
            }
        
         );
        }
      });
  }
</script>

<style>
  .popup-cart-ajax{
   position: fixed;
    top: 20px;
    right: 20px;
    width: 300px;
    background: var(--primary-gradient);
    height: 250px; 
    display: flex;
    justify-content: center;
    z-index: 500;
    border-radius: var(--radius);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    transform:translateY(-225%);
    transition: all .3s ease-in-out;
  }
 
    body.item-to-cart .popup-cart-ajax{
      transform:translateY(0);
    }
  

</style>