<div class="custom-inputs">
   
</div>
 
 

<script>

   document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON({{ "custom-inputs" | asset_url}});
      {% for coll in collections_product %}
            let inputs = all_inputs[coll.title];

            for(let i in inputs){
               console.log(i[inputs]);
            }


     {% endfor %}
   });

 </script>