<div class="custom-inputs">
   
</div>
 
 

<script>

   document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON("{{ "custom-inputs.json" | asset_url}}" , function(data){
        {% for coll in collections_product %}
            let inputs = data["{{coll.title}}"];

            for(let i in inputs){
              swicth(input[i].type){
                  case "select":
                       
                  break;
               }
            }

            
         {% endfor %}
         
      });
      
   });

 </script>