<div class="custom-inputs">
   
</div>
 
 
<script>

   document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON("{{ "custom-inputs" | asset_url}}");
      {% for coll in collections_product %}
            let inputs = all_inputs[coll.title];

            for(let i in inputs){
               swicth (input[i].type) {
                  case "select":
                  let select = document.createElement("select");
                  select.name = input[i].name;
                  select.id = input[i].name;
                  // agregar las options
                  for(let opt in select.options){
                     let option = document.createElement("option");
                     option.value = opt;
                     option.innerHTML = opt;
                     select.appendChild(option);
                  }
                  break;
               }
              default:
                console.log('Por favor, selecciona un valor del 1 al 6.');
              
            }
     {% endfor %}
   });

 </script>