<div class="custom-inputs">
   
</div>
 

<script>

  document.addEventListener("ready:owl", function(){
      all_inputs = $.getJSON("{{ "custom-inputs.json" | asset_url}}" , function(data){
         {% for coll in collections_product %}
            let inputs = data["{{coll.title}}"];

            for(let i in inputs){
              let custom = document.createElement("div");
               custom.classList.add("custom-input");
               custom.innerHTML = `<label for="${inputs[i].name}">${inputs[i].name}</label>`;
               switch(inputs[i].type){
                  case "select":
                 
                   
                  let select = document.createElement("select");
                  select.name = "properties["+inputs[i].name+"]";
                  select.id = inputs[i].name;
                  // agregar las options
                  for(let opt in inputs[i].options){
                     let option = document.createElement("option");
                     option.value = inputs[i].options[opt];
                     option.innerHTML = inputs[i].options[opt];
                     select.appendChild(option);
                  }
                   custom.appendChild(select);
                  document.querySelector(".custom-inputs").appendChild(custom);
                  break;
               }
            }

            
         {% endfor %}
      });
      
   });

 </script>

 <style>
   .custom-inputs{
     display: flex;
    flex-wrap: wrap;
   }
   .custom-inputs .custom-input {
    flex-basis: 50%;
    padding: 0 5px;
}
     .custom-inputs .custom-input select,   .custom-inputs .custom-input input{
       display:block;
       width:100%;
     }
   @media screen and (max-width: 767px){
      .custom-inputs .custom-input {
        flex-grow: 0;
        flex-basis: 100%;
        margin-bottom: 10px;
        padding: 0;
      }
   }
 </style>