<div class="custom-inputs">
  {%  for coll in collections_product %}
  
      {% if coll.title == "Salty" %}
  
        <p class="line-item-property__field">
          <label>option 3</label><br>
          <select id="Salty opTION" name="properties[Salty opTION]">
            <option value="red">red</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="blue">blue</option>
          </select>
        </p>
  
        {% endif %}
  
  {% endfor %}
</div>

