<!--
<p class="line-item-property__field">
  <label>option 3</label><br>
  <select id="option-3" name="properties[option 3]">
    <option value="red">red</option>
    <option value="red">red</option>
    <option value="blue">blue</option>
    <option value="blue">blue</option>
  </select>
</p>
-->

