<a href="{{ link }}" class="btn btn-fixed-1 position-fixed scroll-tracking"> 
    {{  label }}
</a>


<style>
  .btn-fixed-1{
    {% if left %}
      right: auto;
      left: 20px;
     {% else %}
      right: 20px;
      left: auto;
    {%  endif %}
    bottom:20px;
    transform: scale(1);
    transition: all .3s ease-in-out;
    z-index: 100;
  }
  .btn-fixed.in-footer, .btn-fixed.in-top{
    transform: scale(0);
  }
</style>