<a href="{{ link }}" class=" btn-fixed-1 position-fixed scroll-tracking"> 
    {{  label }}
</a>


<style>
  .btn-fixed-1{
    {% if left %}
      right: auto;
      left: 20px;
    {%  endif %}
    bottom:20px;
    
  }
</style>