<a href="{{ link }}" class=" btn-fixed-1 position-fixed scroll-tracking"> 
    {{  label }}
</a>


<style>
  .btn-fixed-1{
    {% if left %}
      right: auto;
      left: 20px;
    {%  endif %}
    bottom:20px;
    transition: all .3s ease-in-out;
  }
  .btn-fixed.in-footer, .btn-fixed.in-top{
    
  }
</style>