<style>
  
  .list--inline-1{
    position: relative;  
   margin-top: -10px;
    
  }
  
  .btn--tertiary{
    background: #000;
    font-family: "fuente-titulos" !important;
    color: #fff;
    border: none !important;
  }
  
  .btn--tertiary:hover {
      background-position: right center;
      color: #a8a8a8 !important;
    }
  
  
  	.btn--tertiary a {
       font-family:  "fuente-titulos" !important;
    }
  
  	.btn--tertiary a:hover {
      color:#a8a8a8 !important;
    }
  
    .pagination__text{
     font-family:  "fuente-titulos" !important;
      font-weight: 500;
    }
  
</style>


{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}
<ul class="list--inline list--inline-1 pagination d-flex justify-content-center align-items-center">
  {% unless paginate.previous.is_link %}
    <li aria-hidden="true">
      <button class="btn btn--tertiary btn--narrow" disabled>
        {% include 'icon-arrow-left' %}
      
      </button>
    </li>
    {% else %}
    <li>
      <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
        {% include 'icon-arrow-left' %}

      </a>
    </li>
  {% endunless %}
  <li class="pagination__text">
    {{ 'general.pagination.current_page' | t: current: paginate.current_page, total: paginate.pages }}
  </li>
  {% unless paginate.next.is_link %}
    <li aria-hidden="true">
      <button class="btn " disabled>
        {% include 'icon-arrow-right' %}
 
      </button>
    </li>
  {% else %}
    <li>
      <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
        {% include 'icon-arrow-right' %}
       
      </a>
    </li>
  {% endunless %}
</ul>
