<div data-ajax-cart-section class="popup-cart-ajax-2">
 {{  cart.items.first.title }}
      Add 1 item
     
 {{  cart.items.last.title }}
 <div data-ajax-cart-bind-state="cart.item_count" > 
  <!-- Cart item count appears here --> 



<script>
  $(document).ready(function(){
      const initialState = getCartState();
          if(!initialState){
            console.log("Error")
          }else{
             console.log(initialState)
          }
      })

</script>
</div>





  
<button data-ajax-cart-toggle-class-button="item-to-cart | remove">
  <i class="fa fa-times"></i>
</button>
</div>

<style>
  .popup-cart-ajax-2{
   position: fixed;
    top: 20px;
    left: 20px;
    width: 300px;
    background: blue;
    height: 250px;
  
    display: flex;
    justify-content: center;
    z-index: 500;
    border-radius: var(--radius);
    padding: 20px;
    align-items: center;
    flex-direction: column;
    transform:translateY(-225%);
    transition: all .3s ease-in-out;
  }
  @media screen and (min-width: 767px){
    body.item-to-cart .popup-cart-ajax-2{
    transition: all .3s ease-in-out;
      transform:translateY(0);
    }
  }

</style>