<style>

  
.channels{
  background: var(--primary-gradient);
  text-align: center;
  height: auto !important;
  position: relative;
  overflow: hidden;
  color: #fff;
}
  
  
.channels p{

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0px 0px 0px;
}

.channels img{
  max-width: 70px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 7;
  transition: all ease-in-out .3s;
}


.channels h2{
  color: #fff;
  position: relative;
  z-index: 7;
  font-size: var(--heading1-size);
  font-weight: var(--heading1-weight);
  margin-bottom: 0;
}

.channels img:hover {
    transform: rotateY(180deg);
    transition: all ease-in-out .3s;
}
  
 .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}

@media (max-width: 760px){
  .channels .border-left-channels {
    border-left: 0px;
  }
  
  .channels .adorno {
    position: absolute;
    left: -200px;
    top: 80px;
    height: 100%;
    opacity: 0.05;
}
  
  .channels h2{
  
  margin: 20px 0px;
}
  
  .channels p{

  margin-bottom: 20px;
}
}
.custom-shape-divider-top-1660083344 {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
@keyframes derrame{
  0% {
    height: 92px;
  }
  100% {
    height: 152px;
  }
}
.custom-shape-divider-top-1660083344 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  
  transition: height 1s ease-in-out;
  
}

.custom-shape-divider-top-1660083344 .shape-fill {
  fill: var(--tertiary);
}

[data-aos=derrame].aos-animate .custom-shape-divider-top-1660083344 svg {
  animation: derrame 3s ease-in-out;
  animation-fill-mode: forwards;
}

</style>

  <section data-aos="derrame" class="channels fix py-section">

    <div class="custom-shape-divider-top-1660083344">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>


          <div class="container">
                             
                  <div class="row  justify-content-center d-flex align-items-center ">
                      <div class="col-md-4 justify-content-center d-flex align-items-center ">
                        <h2>{{ section.settings.title_channels }}</h2>
                        
                      </div>


                      {% for block in section.blocks %}
                          {% if block.type == 'benefits' %}
                            {% for channel in block.channels %}
                              <div class="col-md-2">
                                <div class="row">
                                  <div class="col-md-6 col-6 ">
                                    {% if block.settings.icon != blank %}
                                      <i class="{{block.settings.icon}}">
                                      <p> {{ block.settings.name_benefit }}</p>
                                    {% else %}
                                        <img src="{{ block.settings.image | img_url: 'master' }}" loading="lazy" alt="">  
                                    {% endif %} 
                                  </div>
                                </div>     
                              </div>
                            {% endfor %}
                          {% endif %}
                        {% endfor %}

                    
                    
                   
                   
                                         
                  </div>                                  
          </div>
                
                   
        </section> 



{% schema %}
  {
    "name": "Benefits",
    "settings": [ 
    {
	"type": "text",
     "id": "title_channels",
     "label": "Title",
     "default": "Benefits"
	 }
  ],
    "blocks": [
      {
        "type": "benefits",
        "name": "Benefits",
        "limit": 4,
        "settings":[
            {
                "type": "text",
                "id": "name_benefit",
                "label": "title benefit"     
            },
            {
              "type": "image_picker",
              "id": "image",
              "label": "image benefit"  
            },
            {
              "type": "text",
              "id": "icon",
              "label": "Icon Font Awesome",
              "info": "Replace the image with an icon" 
            }
      ]
  }],
  	"presets": [
      {
        "category": "Home",
        "name": "Benefits"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}


