<style>
  
.classes-section {
	background: #fff;
	padding: 50px 0px;
   position: relative;
   overflow: hidden;
}

  
.classes-section .section-tittle h2{
   color:#383838;
   font-size:30px;
   font-weight:300;
   line-height:1.3;
}
  
.classes-section .section-tittle p{
   color:#ff0000;
   font-size:18px;
   margin-top: -20px;
   margin-bottom: 20px;
}
  


</style>



<section class="classes-section spad">
  <div class="container-fluid page-width center-c">
      <div class="row d-flex justify-content-center mb-4 page-width w-100">
          <div class="col-xl-7 col-lg-8">
              <div class="title-section align-items-center pb-element" data-aos="fade-up">
                  <h1>{{ section.settings.title }}</h1>
                  <h2>{{ section.settings.subtitle }}</h2>
              </div>
          </div>
      </div>
      <div class="row owl-carousel categories-carousel">
            
          {% for block in section.blocks %}
            {% if block.type == 'collection' %}
              
               {%  render "collection-grid-carousel"  collection: block.settings.category %}
             

            {% endif %}
          {% endfor %}

      </div>
     <div class="row my-3 text-center justify-content-center">
            <a href="{{ section.settings.button_link }}" class="btn mt-5">
                {{ section.settings.button_label }}
            </a>
    </div>
  </div>
</section>
<script>
 document.addEventListener("ready:owl", function(){
    $('.owl-carousel.categories-carousel').owlCarousel({
       loop:true,
       margin:25,
       nav:false,
       dots:false,
       items: 3,
       center: true,
       responsive: {
         0: {
           items: 1,
           center: true
         },
         767: {
           items:2,
           center: false
         },
          992: {
           items:3,
           center: true
         }
       }
     })
})
  
</script>
<style>
  .owl-carousel.categories-carousel .owl-item{
    display:flex; 
    justify-content:center;
    align-items-center;
  }
 
    .center-c{
      display: flex; 
      flex-direction: column;
      align-items:center;
      justify-content:center;
    }
  
</style>



{% schema %}
  {
    "name": "Categories",
    "settings": [
     
       {
		"type": "text",
        "id": "title",
		"label": "Title Section",
        "default": "Shop By Category"
        
     },
     {
		"type": "text",
        "id": "subtitle",
		"label": "SubTitle Section",
        "default": "Subtitle"
      },
	 {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
	    "default": "View More"
      },
      {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
      }
	  	
    ],
    "blocks": [
      {
        "type": "collection",
         "name": "Collection", 
         
           "settings": [
           {
             "type": "collection",
             "id": "category",
             "label": "category"
           }
           
         ]
       }
    ],
  	"presets": [
      {
        "category": "Home",
        "name": "Categories"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
