<section class="delivery ">
  <div class="container-fluid position-relative py-section" style="background-image:url({{ section.settings.image | image_url }})">
    <div class="title-section align-items-center">
      <h1 class="title-primary">{{ section.settings.title-delivery }}</h1>
      <h2 class="title-secondary">{{ section.settings.subtitle }}</h2>
    </div>
  </div>
  <style>
      .delivery > .container-fluid{
        background-size:cover;
        background-position:center;
        
      }
     .delivery > .container-fluid:before{
        content:'';
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:{{ section.settings.overlay }};
        z-index:0;
     }
  </style>
</section>



{% schema %}
  {
    "name": "Delivery",
    "settings": [ 
    {
	"type": "text",
     "id": "title-delivery",
     "label": "Title",
     "default": "We Have Delivery"
	 },
    {
	 "type": "text",
     "id": "subtitle",
      "label": "Subtitle",
     "default": "Benefits"
    },
      {
	 "type": "image_picker",
     "id": "image",
      "label": "Select a Image"
    },
      {
	 "type": "color_background",
     "id": "overlay",
      "label": "overlay" 
    }
    ],
  	"presets": [
      {
        "category": "Home",
        "name": "Delivery"     
        
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}