{% schema %}
  {
    "name": "Section name",
    "settings": [
	{
        "type": "text",
        "id": "title-section",
        "label": "Title Section",
        "default": "Gallery"
    },
    {
        "type": "text",
        "id": "subtitle-section",
        "label": "Title Section",
        "default": "Check out our delicious work"
    }
    ]
  }
{% endschema %}

 <section class=" section-{{ section.id }}-padding section-{{ section.id }}   m-0 faq my-section container-fluid position-relative">
    <div class="page-width container-fluid">

      <div class="title-section pb-element">
          
          <h1> {{ section.settings.title-section }}</h1>
          <h2>{{ section.settings.subtitle-section }}</h2>                      
         </div>
    </div>

 </section>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}