<style>
  
.breadcrumb-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  margin-top: -55px; 
  overflow: hidden;
}
  
@media only screen and (max-width: 767px) {
  .breadcrumb-area {
    height: 180px;
    text-align: center;
  } 
  
  .spad {
    padding-top: 200px!important;
    padding-bottom: 170px !important;
}
  
.breadcrumb-area .breadcrumb-content .breadcrumb {
   justify-content: center;
}
  
}
  
.breadcrumb-area .breadcrumb-content{
   margin-left: 70px;
   position: relative;
   z-index: 30;
}
 
  
.breadcrumb-area .breadcrumb-content h2 {
  color: #ffffff;
  font-size: 3rem; 
  display: block;
  text-transform: none !important;
  font-weight: 300;
  letter-spacing: 0;
   position: relative;
  z-index: 30;
}
  
 

@media only screen and (max-width: 767px) {
  .breadcrumb-area .breadcrumb-content h2 {
     font-size: 3rem;
  }
  
  .breadcrumb-area .breadcrumb-content{
   margin-left: 0px;
}
  
  .breadcrumb-area .breadcrumb-content h2::before{
  display: none;
  
}
 
}

.breadcrumb-area .breadcrumb-content .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
}

.breadcrumb-area .breadcrumb-content .breadcrumb .breadcrumb-item::before {
   color: #ffffff;
}
    
.breadcrumb-area .breadcrumb-content .breadcrumb .breadcrumb-item.active {
   color:  #fff;
   font-size: 18px;
   font-weight: 300;
   font-family: "fuente-contenido" !important;
}

.breadcrumb-area .breadcrumb-content .breadcrumb .breadcrumb-item a {
   font-size: 18px;
   color: #ffffff;
   font-weight: 300;
   transition: 0.6s;
   font-family: "fuente-contenido" !important;
}
      
.breadcrumb-area .breadcrumb-content .breadcrumb .breadcrumb-item a:hover {
   color: #ff0000;
   transition: 0.6s;
}
  
 
.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; 
}
  
.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; 
}

.bg-overlay::after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
 
  
.spad {
  padding-top: 150px;
  padding-bottom: 100px;
}
  
.div1 { 
    background-color: white; 
    border: 20px solid white; 
} 
.div2 { 
    float: right; 
    border-top: 20px solid red; 
    border-right: 20px solid red; 
    border-left: 20px solid transparent; 
} 
.div3 { 
    float: right; 
    margin: 10px -20px; 
    border-bottom: 20px solid red; 
    border-right: 20px solid transparent; 
    border-left: 20px solid transparent; 
} 
.div4 { 
    border-top: 20px solid red; 
    border-right: 20px solid transparent; 
    margin-right: 40px; 
} 

  
/*.breadcrumb-area .adorno-1{
  position: absolute;
  content: "";
  width: 200px;
  height: 100%;
  bottom:0;
  right:-40px;
  background-image: linear-gradient(to right top, #ff0000, #d60006, #ae0008, #870007, #620000);
  z-index: 3;
  transform: skewX(-35deg);
  opacity: 0.3;
}

.breadcrumb-area .adorno-2{
  position: absolute;
  content: "";
  width: 100px;
  height: 500px;
  top:-200px;
  right:90px;
  background:#000000;
  z-index: 2;
  transform: skewX(-35deg);
  opacity: 0.3;
}

.breadcrumb-area .adorno-3{
  position: absolute;
  content: "";
  width: 100px;
  height: 500px;
  bottom:-200px;
  right:150px;
  background:#000;
  z-index: 2;
  transform: skewX(-35deg);
  opacity: 0.7;
}

.breadcrumb-area .adorno-4{
  position: absolute;
  content: "";
  width: 10px;
  height: 400px;
  bottom: -200px;
  right:50px;
  background:#fff;
  z-index: 3;
  transform: skewX(-35deg); 
  opacity: 0.2;
}*/
  
/* FIN PORTADA SUB PAGINAS*/ 
</style>




 <!--==========================
      SECCION HERO SUBPAGINAS
 ============================-->
<section class="breadcrumb-area spad bg-img bg-overlay" style="background-image: url('{{ section.settings.image-bg-1 | img_url: 'master' }}');">


  
  <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content" data-aos="fade-up">
                        <h2>
                          {{ page.title }}
                        </h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ routes.root_url }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                 {{ page.title }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</section>
<div class="div2"></div> 
<div class="div3"></div> 
<div class="div4"></div>
 <!-- FIN SUBPAGINAS -->




{% schema %}
  {
    "name": "Hero Subpages",
    "settings": [
   {
	"type": "image_picker",
     "id": "image-bg-1",
     "label": "Image Background"
	 }
    

]

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
