


<section class="collection-list py-section">


   
<div class="page-width">
     <header class="title-section d-flex justify-content-center pb-section">
          {% if  section.settings.title != blank %}
            <h1 class="title-primary text-center">{{ section.settings.title }}</h1>
                         
               {% else %}
            
          <h1 class="title-primary text-center">The Best Categories For You</h1>
                          
        {% endif %}   
        <h2 class="title-secondary text-center ">{{ section.settings.subtitle }}</h2>    
      </header>

  {%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}


  <div class="container-fluid">
         <div class="row">
               {%- paginate collections by  section.settings.items-show  -%}
                    {% for collection in collections %}
                     
                        {% include 'collection-grid-item', collection: collection, col-lg: section.settings.col-lg , col-md: section.settings.col-md , col-sm:section.settings.col-sm  %}
                     {% endfor %}
          </div>  
          <div class="row justify-content-center">
               {%- if paginate.pages > 1 -%}
                  {% include 'pagination', paginate: paginate %}
                {%- endif -%}
              {%- endpaginate -%}            
          </div>
  </div>
</div>

</section>

{% schema %}
{
  "name": {
    "cs": "Stránka se seznamem kolekcí",
    "da": "Siden Kollektionsliste",
    "de": "Kategorien-Liste Seite",
    "en": "Collections list page",
    "es": "Lista de colecciones",
    "fi": "Kokoelmaluettelosivu",
    "fr": "Liste des collections",
    "it": "Elenco collezioni",
    "ja": "コレクションリストのページ",
    "ko": "컬렉션 목록 페이지",
    "nb": "Samlingsliste-side",
    "nl": "Pagina Collectielijst",
    "pl": "Strona listy kolekcji",
    "pt-BR": "Lista de coleções",
    "pt-PT": "Página da lista de coleções",
    "sv": "Kollektionslistsida",
    "th": "หน้ารายการคอลเลกชัน",
    "tr": "Koleksiyonlar listesi sayfası",
    "vi": "Trang danh sách bộ sưu tập",
    "zh-CN": "产品系列列表页面",
    "zh-TW": "商品系列清單頁面"
  },
  "settings": [
     {
            "type": "range",
            "id": "items-show",
            "min": 1,
            "max": 40,
            "step": 1,
            "unit": "col",
            "label": "Items per page",
            "default": 9
          },
    {
             "type": "collection",
             "id": "category",
             "label": "category"
           },
           {
            "type": "header",
            "content": "Bootstrap Grid",
            "info": "The section is divided into a grid of 12 columns, set the size in number of columns that the card of this collection will cover"
          },
           {
            "type": "range",
            "id": "col-lg",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Desktop",
            "default": 4
          },
          {
            "type": "range",
            "id": "col-md",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Tablet",
            "default": 6
          },
          {
            "type": "range",
            "id": "col-sm",
            "min": 1,
            "max": 12,
            "step": 1,
            "unit": "col",
            "label": "Columns in Phone",
            "default": 12
          },
    {
	"type": "image_picker",
     "id": "image-bg-1",
     "label": "Image Background"
	 },
     {
		"type": "text",
        "id": "title",
		"label": "Title Section"
        
     },
     {
		"type": "text",
        "id": "subtitle",
		"label": "subtitle",
        "default": "We have variety"
        
     }
  ]
}
{% endschema %}
