<div class="page-width">
  <div class="empty-page-content text-center title-section">
    <h1>{{ 'general.404.title' | t }}</h1>
    <h2>{{ 'general.404.subtext' | t }}</h2>
    <p>
      <a href="{{ routes.root_url }}" class="btn mt-5">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
    </p>
  </div>
</div>
